#checkersboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
}

/* #checkersboard .grey-tile {
    background-color: grey;
}

#checkersboard .red-tile { 
    background-color: rgb(233, 55, 55);
} */
